* {
	padding: 0px;
	margin: 0px;
}

html {
	font-family: "Lato", sans-serif;
	font-size: 14px;
}

@media screen and (min-width: 320px) {
	html {
	  font-size: calc(14px + 6 * ((100vw - 320px) / 680));
	}
  }
  @media screen and (min-width: 1000px) {
	html {
	  font-size: 22px;
	}
  }

body {
	display: grid;
	grid-template-columns: 80vw;
	grid-template-rows: auto auto;
	grid-template-areas:
		"header"
		"main";
	gap: 50px 0px;
	justify-content: center;

}

header {
	font-family: "Playfair Display", serif;
	font-weight: 400;
	grid-area: header;
	margin-top: 60px;
}

main {
	grid-area: main;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	grid-template-areas: "blog" "cv";
}
#cv {grid-area: cv;}
#blog {grid-area: blog;}

h1 {
	font-family: "Playfair Display", serif;
	font-weight: 700;
	font-size: 2.4rem;
}
p {
	font-size: 1rem;
}

/* .hi::before {
	content: "👋" ;
	position: absolute;
	margin-top: -45px;
} */