
/* -------------------------------------------------------------------------- */
/*                                    Reset                                   */
/* -------------------------------------------------------------------------- */

* {
	padding: 0px;
	margin: 0px;
}


/* -------------------------------------------------------------------------- */
/*                                   General                                  */
/* -------------------------------------------------------------------------- */

html {
	font-family: "Lato", sans-serif;
	font-size: 14px;
	text-rendering: optimizeLegibility;
}

@media screen and (min-width: 320px) {
	html {
	  font-size: calc(14px + 6 * ((100vw - 320px) / 680));
	}
  }
  @media screen and (min-width: 1000px) {
	html {
	  font-size: 22px;
	}
  }

body {
	display: grid;
	grid-template-columns: 90vw;
	grid-template-rows: auto auto;
	grid-template-areas:
		"header"
		"main";
	gap: 50px 0px;
	justify-content: center;
}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */

header {
	font-family: "Playfair Display", serif;
	font-weight: 400;
	grid-area: header;
	margin-top: 10px;
}

header>h1 {
	border-bottom: 10px solid #ff0000;
}

header>h1 {
	font-family: "Playfair Display", serif;
	font-weight: 600;
	font-size: 5rem;
	line-height: 5.2rem;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
header>p {
	font-size: 1.8rem;
}

/* -------------------------------------------------------------------------- */
/*                                    Main                                    */
/* -------------------------------------------------------------------------- */

main h2 {
	font-family: "Playfair Display", serif;
	font-weight: 700;
	font-size: 22pt;
	margin-bottom: 10px;
}

main>section {
	margin-bottom: 40px;
}


/* ---------------------------------- Blog ---------------------------------- */

#blog>ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
}
#blog>ul li {
	display: block;
	background-color: #eee;
	height: calc(90px + 5vh);
	width: calc(30vw - 20px);
	color: black;
	position: relative;
}

#blog>ul li a {
	text-decoration: none;
	color: black;
	position: absolute;
	bottom: 10px;
	left: 10px;
	margin-right: 10px;
}


/* ------------------------------- Projects ------------------------------- */

#project